# Fichiers et dossiers générés par Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Dossiers et fichiers générés par Unreal Engine
Binaries/
Intermediate/
Saved/
*.log
*.tmp
*.cache

# Exclure les fichiers de build
Build/

# Fichiers temporaires ou générés
*.tmp
*.bak
*.swp
*.swo
*.old

# Dossiers spécifiques à l'éditeur Unreal Engine
DerivedDataCache/
